body{
    background-image: url('../background6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header {
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
}

.block-container {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    flex-wrap: wrap;
}

.block {
    border-radius: 10px;
    width: 45%;
    margin: 20px;
    padding: 10px;
    /* border: 20px;
    border-color: #3399ff; */
    background-color: #f0f0f0;
}

#table {
    display: block;
    border-collapse: collapse;
    display: block;
    overflow-y: auto;
    max-height: 250px;
}

button::selection {
    background-color: red;
}
table, th, td {
    border: 1px solid black;
}

#error {
    color: red;
}

.default-but{
    background-color: #3399ff;
}

.pressed-but{
    background-color: red;
}

input[id="submit"]:hover {
    cursor: pointer;
}

.block img {
    display: block;
    margin: 0 auto;
}

